body{
    background-color: antiquewhite;
}

.container1 {
    display: flex;
    flex-flow: row wrap;
}
.container2 {
    display: flex;
    flex-flow: row wrap;
}


a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

li:first-child{
    text-decoration: underline;
    list-style-type: none;
}
.border1{

    border: 80px solid red;
    border-image: url(../general_images/red_frame.png);
    border-image-slice: 120;
    border-image-repeat:round ;
    padding: 5px;
    font-size: 1.5em;
    background-color: antiquewhite;
}

h1{
    text-align: center;
    font-family: 'Corporate A Pro';
    background: linear-gradient(to right, red, yellow);
    -webkit-background-clip: text;
    color: rgba(0,0,0,0);
}

h2{
    font-family: 'Corporate A Pro';
    text-align: center;
    background: linear-gradient(to right, red, yellow);
    -webkit-background-clip: text;
    color: rgba(0,0,0,0);
}

h3{
    font-family: 'Corporate A Pro';
    background: linear-gradient(to right, red, yellow);
    -webkit-background-clip: text;
    color: rgba(0,0,0,0);
}