body{
    background-color: antiquewhite;


}

.container{
    max-width: 1440px;
    margin: 0 auto;

}

li{
    font-size: 22px;

}

.container1 {
    display: flex;
    flex-flow: column wrap;
}
.container2 {
    display: flex;
    flex-flow: column wrap;
}

i{
    color: crimson;

}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

li:first-child{
    text-decoration: underline;
    list-style-type: none;
}


h1{
    text-align: center;
    font-family: 'Corporate A Pro',sans-serif;
    background: linear-gradient(to right, red, blue);
    -webkit-background-clip: text;
    color: rgba(0,0,0,0);
}

h2{
    font-family: 'Corporate A Pro',sans-serif;
    text-align: center;
    background: linear-gradient(to right, red, blue);
    -webkit-background-clip: text;
    color: rgba(0,0,0,0);
}

h3{
    font-family: 'Corporate A Pro',sans-serif;
    background: linear-gradient(to right, red, blue);
    -webkit-background-clip: text;
    color: rgba(0,0,0,0);
}