@font-face {
    font-family: 'GothamSSm Condensed';
    src: url('fonts/GothamCondSSm-LightItalic.woff2') format('woff2'),
    url('fonts/GothamCondSSm-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

.verse {
    font-family: 'Pacifico', cursive;
    white-space: pre-line;

}

h1{ text-align: center;
    }
h2{ text-align: center;
}

p{
    white-space: pre-line;
    font-size: 1.5rem;
    margin: 0;
}