a + p {
    color: blue;
    font-style: italic;
}

.bald +p {
    color: green;
}

.bald +p+p {
    color: red;
    font-weight: bold;
}

p:nth-child(6) {
    color: blue;
    font-style: italic;
}

p:nth-child(6)+p {
    color: blue;
    font-style: italic;
}


p:nth-last-child(9) {
    color: blue;
    font-style: italic;
}

p:nth-last-child(9)+p {
    color: blue;
    font-style: italic;
}
.bald {

    font-weight: bold;
    font-size: 30px;
}



