form {
  padding-left: 20px;

}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.article_name {
  margin-bottom: 7px;

  label {
    span {
      display: block;
      float: left;
      margin-right: 60px;
    }

    input {
      width: 88%;
      float: right;
    }

  }

}

.heading {
  margin-bottom: 7px;

  span {
    display: block;
    float: left;
    margin-right: 116px;
  }
  select{
    background-color: #e9e9ed;
   border-radius: 3px;
    width: 201px;
    height: 23px;

    option{
      background-color: black;
      color: #FFFFFF;


    }

  }

}

.publish {
  margin-bottom: 7px;

  > span {
    float: left;
    display: block;
    margin-right: 84px;
  }

  label {
    display: inline-block;

  }

}

.article {
  margin-bottom: 7px;

  label {
    display: inline-block;
    width: 100%;

    textarea {
      display: block;
      width: 100%;
    }


  }


}

.style_check {
  visibility: hidden;

}

.stylisation {
  position: relative;


  label{
  margin-right: 35px;

}
  .style_check::before {
    visibility: visible;
    content: url("img/toggle_off.png");
    position: relative;
    top: -1.5em;
    left:-1.5em;
  }
  .style_check:checked::before {
    content: url("img/toggle_on.png");

  }


}

@media all and (max-width: 556px) {
  .article_name {

label{
  input {
    width: 100%;

  }
}



  }


  .heading {

    span {
      display: block;
      float: none;
      margin-right: 0;
    }
    select{
      width: 100%;

    }

  }

  > span {
    float: none;
    display: block;
    margin-right: 84px;
  }

  .publish {

    span {
      float: none;
      margin-right: 0;
    }


    label {
      display: block;


    }





  }

}









