body {
  font-family: Arial, sans-serif;
  font-size: 4mm;
  font-weight: bold;
}


.container_img {
  width: 300px;
  margin-bottom: 70px;
  position: relative;
  height: 300px;
 margin-left: auto;
  margin-right: auto;

  img {
    position: absolute;
    width: 200px;
    height: 200px;

  }


  img:nth-child(1) {
    left: 43px;
    top: 33px;

  }

  img:nth-child(2) {
    left: 102px;
    top: 33px;

  }

  img:nth-child(3) {
    top: 87px;
    left: 15px;

  }

  img:nth-child(4) {
    top: 100px;
    left: 114px;

  }

  img:hover {
    z-index: 1;
  }





}