// colors
$white: #FFFFFF;
$deepblue: #3A68B8;
$black: #020A18;

// fonts

$openSans: 'Open Sans', sans-serif;
$circular: 'Circular Std', sans-serif;

$normal: 450;
$semibold: 500;
$bold:  600;
$bolder: 700;
$extrabold: 800;

// containers

$xxl: 1140px;
$l: 960px;
$md: 720px;
$sm: 540px;
$esm: 320px;