  header {
  background-color: #add8e6;
  color: #0a0dfd;
  text-align: center;
  text-transform: uppercase;
  height: 50px;
  padding: 1px;
  font-family: Arial, serif;

}


  section {
  display: flex;
  flex-flow: row nowrap;

  .menu {
    padding-right: 18px;
    max-width: 170px;
    background-color: #f0e78d;

  }

  .content {
    padding-left: 10px;
    background: url("../img/ball.png") repeat-y right top;

    h2 {
      text-align: center;

    }
    img {
      float: left;
      margin-right: 10px;
    }


  }


}


  footer {
  background-color: #add8e6;
  color: #0a0dfd;
  text-align: center;
  text-transform: uppercase;
  padding-top: 1px;
  height: 50px;
  margin: 0;
  font-family: Arial, serif;
  clear: both;
}
  
  @media all and (max-width: 521px) {
    section {
      display: flex;
      flex-flow: column-reverse nowrap;

      .menu {
        display: flex;
        flex-flow: column wrap;
        padding-right: 0;
        width: 100%;
        background-color: #FFFFFF;
       justify-content: center;

        h2{
          text-align: center;
        }

        ul {

          display: flex;
          padding-left: 0;
          list-style: none;
          li{

            margin-left: 5px;
          a{


          }

          }


        }

      }

      .content {
        padding-left: 10px;
        background: none;

        h2 {
          text-align: center;

        }
        img {
          float: none;
          width: 100%;
          margin-right: 0;
        }


      }


    }




    
  }