div {

    width: 141px;
    height: 191px;
    float: left;
}

.background_1 {
    background-image: url(cards2.png);
    background-repeat: no-repeat;
    background-position: -0px -0px;

}

.background_2 {
    background-image: url(cards2.png);
    background-repeat: no-repeat;
    background-position: 0px -1744px;
    margin-left: -80px;
    margin-top: 28px;
}

.background_3 {
    background-image: url(cards2.png);
    background-repeat: no-repeat;
    background-position: -285px -1356px;
    margin-left: -80px;
    margin-top: 80px;
}

.background_4 {
    background-image: url(cards2.png);
    background-repeat: no-repeat;
    background-position: -142px -2131px;
    margin-left: -80px;
    margin-top: 138px;
}

.background_5 {
    background-image: url(cards2.png);
    background-repeat: no-repeat;
    background-position: 0px -2325px;
    margin-left: -80px;
    margin-top: 188px;
}