* {

    box-sizing: border-box;
}

body {
    font-family: 'Jost', sans-serif;
    margin: 0;

}


.clearfix {
    clear: both;

}

.container {
    width: 1440px;
    margin: 0 auto;

}

/*menu*/
nav {

    height: 106px;
    background-color: #F5F5F5;
    padding-top: 38px;
    padding-left: 120px;
}

nav .img_item1 {
    float: left;
    width: 34px;
    height: 34px;
}

nav .img_item2 {
    float: left;
    width: 130.31px;
    height: 27px;
    margin-left: 10px;
    margin-top: 6px;
}

nav ul {
    display: inline-block;
    float: right;
    margin-right: 120px;
    margin-top: 8px;

}

nav ul li {
    float: left;
    height: 30px;
    margin-left: 40px;


}

nav ul li a {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    letter-spacing: 1px;


}

.header nav ul li:nth-child(1) a {
    color: #CDA274;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    letter-spacing: 1px;
}

.header nav ul li:nth-child(n+2) a {
    color: #292F36;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    letter-spacing: 1px;
}


/* header*/

.first_section {
    width: 100%;
    height: 831px;
    background: url("../img/img1.jpg") no-repeat top center;
    padding-top: 195px;
    background-size: cover;
    border-radius: 0 0 0 290px;
}

.first_section h1 {


    margin-left: 120px;
    margin-bottom: 19px;
    font-family: 'DM Serif Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 96px;
    letter-spacing: 0.22px;
    color: #292F36;
}

.first_section p {


    margin-left: 120px;
    margin-bottom: 35px;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.22px;
    color: #4D5053;

}

.first_section button {
    box-sizing: border-box;
    width: 207px;
    height: 71px;
    margin-left: 120px;
    background: url("../img/button_arrow.png") no-repeat right #292F36;
    border: 2px solid #292F36;
    border-radius: 18px;
    padding: 22px 34px 22px 34px;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    color: #FFFFFF;
}

/* content*/
.content {
    padding-top: 170px;

}

.content h4 {
    width: 174px;
    height: 39px;
    font-family: 'DM Serif Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.22px;
    color: #292F36;
}

.content p {
    width: 320px;
    height: 132px;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.22px;

    color: #4D5053
}

.content a {
    width: 94px;
    padding-right: 40px;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    background: url("../img/link_arrow.png") no-repeat right;
    text-align: center;
    letter-spacing: 1px;
    color: #4D5053;

}

.article1 {
    width: 33%;
    float: left;
    text-align: center;
}

.article2 {
    width: 33%;
    float: left;
    text-align: center;
}

.article3 {
    width: 33%;
    float: right;
    text-align: center;
    padding-right: 120px;
}

.article1 h4 {
    margin-left: 190px;
}

.article1 p {
    margin-left: 120px;
    margin-bottom: 68px;
}

.article2 h4 {
    margin-left: 160px;

}

.article2 p {
    margin-left: 90px;
    margin-bottom: 38px;

}

.article3 h4 {
    margin-left: 90px;

}

.article3 p {
    margin-left: 30px;
    margin-bottom: 35px;
}


/*design block*/

.design_wrap {
    margin-top: 210px;
}


.design_img {
    float: right;
    margin-right: 140px;
    height: 635px;
    width: 592px;
    background: url("../img/design_img_mine.jpg") no-repeat top center;
    background-size: cover;
    border-radius: 0 326px 0 123px;
}

.design {

    float: left;
    padding-top: 20px;
}

.design h2 {
    height: 130px;
    font-family: 'DM Serif Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 65px;
    letter-spacing: 0.22px;
    color: #292F36;
    padding-left: 120px;
    margin: 0;
}

.design p {

    height: 66px;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.22px;
    color: #4D5053;
    padding-top: 42px;
    padding-left: 120px;
    margin: 0;
}

.design_btn .round {
    width: 93px;
    height: 93px;
    border: none;
    border-radius: 100px;
    background: url("../img/button_phone.png") no-repeat center, #F4F0EC;
    float: left;
    margin-top: -60px;
    margin-left: 120px;

}

.design_text {
    width: 631px;
    height: 360px;

}

.design_btn {

    width: 631px;
    height: 360px;
}

.design_btn p {
    float: right;
    margin-right: 254px;
    padding-top: 15px;

}

.design_btn .long_btn {
    float: left;
    width: 263px;
    height: 71px;
    border: 2px solid #292F36;
    border-radius: 18px;
    background: url("../img/button_arrow.png") no-repeat right, #292F36;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.72px;
    color: #FFFFFF;
    margin-top: 50px;
    margin-left: 120px;
}

/*review block*/

.review_container {
    width: 1200px;
    margin: 0 auto;
    background: #F4F0EC;
    border-radius: 70px;
}

.review_container h3 {
    margin: 0 auto;
    padding-top: 103px;
    width: 479px;
    height: 59px;
    font-family: 'DM Serif Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 58px;
    text-align: center;
    letter-spacing: 0.22px;
    color: #292F36;


}
.review_wrapper{
    padding-top: 180px;
    padding-bottom: 121px;

}
.review_item1 {
    float: left;
    width: 354px;
    height: 287px;
    margin-left: 51px;
    padding-left: 35px;
    padding-top: 50px;
    margin-right: 17px;
    background: #FFFFFF;
    border-radius: 30px;
}

.review_item2 {

    float: left;
    width: 354px;
    height: 287px;
    padding-left: 35px;
    padding-top: 50px;
    background: #FFFFFF;
    border-radius: 30px;
}

.review_item3 {
    float: right;
    width: 354px;
    height: 287px;
    padding-left: 35px;
    padding-top: 50px;
    margin-right: 51px;
    background: #FFFFFF;
    border-radius: 30px;
}
.review_wrapper img{
    float: left;
    margin-right: 20px;
}
.review_wrapper h5{
       font-family: 'DM Serif Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    letter-spacing: 0.22px;
      color: #292F36;
}

.review_wrapper p{

    font-family: 'Jost' ,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.22px;
   color: #4D5053;

}

.review_wrapper p+p{
    font-family: 'Jost',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.22px;
    color: #4D5053;
    text-align: center;
    margin-top: 25px;

}


.brands {
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 140px;

}
.brands .brand_item:first-child{
    margin-left: 40px;
}
.brand_item{

float: left;
    margin-right: 66px;
}

 /*blogs*/
.projects{
    margin-top: 114px;

}
.projects h2{

    width: 331px;
    margin: 0 auto;
    font-family: 'DM Serif Display' , serif;
    font-style: normal;
    font-weight: 400;
    font-size: 47px;
    line-height: 62px;
    text-align: center;
    letter-spacing: 0.22px;
}
.projects p{
    margin: 0 auto;
    font-family: 'Jost',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.22px;
    color: #4D5053;

}
.projects .projects_wrapper > div {

       border-radius: 0 80px 0 0;


}
.projects h3{

    font-family: 'DM Serif Display',serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    letter-spacing: 0.22px;
    color: #292F36;
}
.projects p{

    font-family: 'Jost',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.22px;
      color: #4D5053;
}
.projects button {
    width: 70px;
    height: 70px;
    background: url("../img/project_arrow.png") no-repeat center,#F4F0EC;
    border-radius: 100px;
    border: none;

}
.projects_wrapper  {
    margin-top: 71px;
    margin-right: 120px;
    margin-left: 120px;
}

.projects_wrapper div:nth-child(odd){
    float: left;
    margin-right: 20px;
    margin-bottom: 24px;
}

.projects_wrapper div:nth-child(even){
    float: right;
    margin-bottom: 24px;
}

.projects_wrapper div:nth-child(even) button{
    float: right;
}

.projects_wrapper div:nth-child(even) p{
    float: left;
}

.projects_wrapper div:nth-child(odd) button{
    float: right;
}

.projects_wrapper div:nth-child(odd) p{
    float: left;
}
.projects_wrapper img{

    margin-bottom: 24px;

}


.project_stats{
    padding: 154px 75px 150px 75px;
    margin-top: 140px;
    width: 100%;
    background: #F4F0EC no-repeat;
    border-radius: 0 0 0 0;
    text-align: center;
}


.project_stats_item {
        float: left;
        padding-left: 70px;
        padding-right: 70px;

    }


.project_stats div:nth-child(-n+3){
    background: url("../img/left_border.jpg")no-repeat right;

}


.project_stats_item span{
    font-family: 'DM Serif Display',serif;
    padding-top: 154px;
    font-style: normal;
    font-weight: 400;
    font-size: 85px;
    line-height: 128px;
    text-align: center;
    letter-spacing: 1.7px;
    color: #CDA274;


}
.project_stats_item p {
    font-family: 'Jost',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.22px;
    color: #4D5053;

}


/*
blog block
*/
.blog{
    margin-top: 143px;
    margin-bottom: 141px;

}


.blog h2{
    width: 274px;
    margin: 0 auto;
    font-family: 'DM Serif Display',serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
       text-align: center;
    letter-spacing: 0.22px;
    color: #292F36;
}

.blog p{
    margin: 0 auto;
    width: 589px;
    font-family: 'Jost',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.22px;

    color: #4D5053;

}

.blog_wrapper h5{
    float: right;
    margin-bottom: 34px;
    font-family: 'DM Serif Display',serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0.5px;
    color: #292F36;
}
.blog_wrapper p{
    float:left;
    width: 147px;
    font-family: 'Jost' ,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.22px;
    color: #4D5053;

}
.blog_wrapper button{
    float: right;
    width: 52px;
    height: 52px;
    background: url("../img/project_arrow.png") center no-repeat,#F4F0EC;
    border-radius: 100px;
    border: none;
}
.blog_wrapper {
    margin-left: 120px;
    margin-right: 120px;
}


 .blog_item1{
    position: relative;
    float: left;
    margin-right: 20px;
    margin-top: 70px;
    padding: 21px;
    width: 387px;
    height: 515px;
    border: 1px solid #E7E7E7;
    border-radius: 62px;

}

 .blog_item2{
     position: relative;
    float: left;
    margin-top: 70px;
    padding: 21px;
    width: 387px;
    height: 515px;
    border: 1px solid #E7E7E7;
    border-radius: 62px;

}

 .blog_item3{
     position: relative;
    float: right;
    margin-top: 70px;
    padding: 21px;
    width: 387px;
    height: 515px;
    border: 1px solid #E7E7E7;
    border-radius: 62px;

}

.blog_item1 .rectangle {
    top: 238px;
    right: 217px;
}

.blog_item2 .rectangle {
    top: 238px;
    right: 217px;
}


.blog_item3 .rectangle {
    top: 244px;
    right: 217px;
}

.rectangle {
    position: absolute;
    width: 125px;
    height: 45px;
    background: #FFFFFF;
    border-radius: 8px 8px 8px 0;
    padding-top: 13px;
    padding-left: 11px;
}




.contact{

    width: 100%;
    margin: 0 auto;
    background: #292F36;
    border-radius: 70px;
    padding-top: 100px;
    padding-bottom: 95px;

}

.contact h2{
    margin: 0 auto;
    padding-bottom: 9px;
   width: 534px;
      font-family: 'DM Serif Display',serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 75px;
     text-align: center;
    letter-spacing: 0.22px;
    color: #FFFFFF;
}
.contact p{
    margin: 0 auto;
    padding-bottom: 31px;
    width: 371px;
    font-family: 'Jost',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.22px;
    color: #FFFFFF;
}

.contact button{
    box-sizing: border-box;
    margin-left: 600px;
    width: 241px;
    height: 71px;
    background: url("../img/button_arrow1.png") no-repeat right, #CDA274;
    border: 2px solid #CDA274;
    box-shadow: 1px 0 18px rgba(0, 0, 0, 0.2);
    border-radius: 18px;
    font-family: 'Jost',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
     text-align: center;
    letter-spacing: 0.22px;
    color: #FFFFFF;
}
/*
footer block
*/
footer{
    margin-top: 141px;


}
footer ul{
    float: left;
    margin-left: 120px;
}
footer ul li:first-child a{

    font-family: 'DM Serif Display',serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    letter-spacing: 0.22px;
    color: #292F36;
}

footer ul li a{
    font-family: 'Jost',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.22px;
    color: #4D5053;
}
footer address{
    font-family: 'Jost',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.22px;
    color: #4D5053;
    }

footer p{
    font-family: 'Jost',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.22px;
    color: #4D5053;
}
.first_column img{
    margin-right: 12px;

}

.copyright{
    width: 1440px;
    height: 104px;
    padding-right: 180px;
    text-align: center;
}

.copyright p{
    margin-top: 35px;
    margin-left: 320px;
    font-family: 'Jost',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.22px;
    color: #4D5053;
}
.copyright span{
    font-family: 'Jost',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.22px;

    color: #CDA274;
}