# Default ignored files
/shelf/
D:\work\HTMLCSS\.idea\workspace.xml

/watcherTasks.xml
D:\work\HTML_CSS8\Form\style.css.map
D:\work\HTML_CSS8\PositionObjects\style.css.map

# Editor-based HTTP Client requests
/httpRequests/
